.header {
    width: 100vw;
    height: 1080px;
    background-image: url("./assets/Rectangle_43.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin: 0 auto;
    top: 0;
}
.header-content {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
}

.menu-button-container {
    /* margin: 0 auto; */
    /* width: 92px; */
    height: 28px;

    display: flex;
    justify-content: space-around;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    color: #000000;
}
.menu-button {
    margin-left: 52px;
    text-decoration-line: none;
    color: #000000;
}

.phone {
    display: inline;
}
.number {
    display: inline;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.name {
    width: 1074px;
    height: 264px;
    font-family: "balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 334px;
    color: #000000;
    margin: 0 auto;
    position: relative;
}
.name::after {
    content: "Эксклюзивный тур";
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 56px;
    font-style: italic;
    font-weight: 300;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    right: 60px;
    bottom: -60px;
}
.blok1 {
    display: flex;
    width: 100vw;
    max-width: 1900px;
    margin: 0 auto;

    /*height: 932px;
    left: 0px;
    top: 1280px;*/
}
.name-blok1 {
    width: 1200px;

    font-family: "Balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    margin: 0 auto;

    color: #e2ab3f;
}
.name-blok1-1 {
    width: 233px;
    height: 28px;
    left: 541px;
    top: 1384px;

    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.image {
    margin-right: 55px;
    width: 50%;
    max-width: 960px;
    height: 700px;
}
.content p {
    width: 50%;
    max-width: 960px;
    margin: 40px;
    padding-bottom: 20px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
