.header {
    width: 100vw;
    height: 1080px;
    background-image: url("./assets/Rectangle_43.svg");
    color: black;
    margin: 0 auto;
    top: 0;
}
.header-content {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
}

.menu-button-container {
    /* margin: 0 auto; */
    /* width: 92px; */
    height: 28px;

    display: flex;
    justify-content: space-around;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    color: #000000;
}
.menu-button {
    margin-left: 52px;
    text-decoration-line: none;
    color: #000000;
}

.phone {
    display: inline;
}
.number {
    display: inline;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.name {
    width: 1074px;
    height: 264px;
    left: 423px;
    top: 252px;
    font-family: "balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 334px;
    color: #000000;
    margin: 0 auto;
}
