.header {
    width: 100vw;
    height: 1080px;
    background-image: url("./assets/Rectangle_43.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin: 0 auto;
    top: 0;
}
.header-content {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
}

.menu-button-container {
    height: 28px;
    display: flex;
    justify-content: space-around;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    color: #000000;
}
.menu-button {
    margin-left: 52px;
    text-decoration-line: none;
    color: #000000;
}

.menu-button:first-child {
    margin-left: 0;
}

.phone {
    display: inline;
}
.number {
    display: inline;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.name {
    width: 1074px;
    height: 264px;
    font-family: "balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 334px;
    color: #000000;
    margin: 0 auto;
    position: relative;
}
.name::after {
    content: "Эксклюзивный тур";
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 56px;
    font-style: italic;
    font-weight: 300;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    right: 60px;
    bottom: -60px;
}
.blok1 {
    display: flex;
    width: 100vw;
    max-width: 1900px;
    width: 100vw;
    margin: 0 auto;
}

.blok1 .image {
    width: 50%;
    max-width: 950px;
    height: 700px;
}
.blok1 .image img {
    max-width: 950px;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.blok1 .content {
    padding: 50px;
}
.blok1 > .content > p {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 50%;
    max-width: 600px;
    width: 600px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
.bold {
    font-weight: bold !important;
}

.name-blok1 {
    max-width: 1200px;
    font-family: "Balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 100px;
    color: #e2ab3f;
}
.name-blok1 span {
    position: relative;
}
.name-blok1 span::after {
    content: "Сказочная страна чудес";
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
    right: -110px;
    bottom: 0;
}

.name-blok1-1 {
    width: 233px;
    height: 28px;
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.blok2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    max-width: 1900px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}
.blok2 .image2 {
    width: 50%;
    max-width: 960px;
    height: 1095px;
}
.blok2 .image2 img {
    max-width: 950px;
    width: 100%;
    height: 1095px;
    object-fit: cover;
}

.blok2 .content2 {
    padding-top: 60px;
    width: 50%;
    max-width: 600px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.content2 button {
    box-sizing: border-box;
    width: 280px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #e2ab3f;
    margin-top: 30px;
}
.name-blok2 span {
    position: relative;
}
.name-blok2 span::after {
    content: "Маршрут";
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
    right: -75px;
    bottom: 0;
}
.name-blok2 {
    max-width: 1200px;
    font-family: "Balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;

    color: #e2ab3f;
}
.blok3 {
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    width: 100vw;
    max-width: 1900px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}
.blok3-mass {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}
.name3 {
    width: 210px;
    height: 103px;
    margin-bottom: 100px;
    font-family: "Balqis";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    color: #e2ab3f;
    position: relative;
}
.name3::after {
    content: "Sultan Cave Suites";
    position: absolute;
    width: 275px;
    height: 30px;
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /*letter-spacing: 0em;*/
    text-align: right;
    left: 25px;
    bottom: -25px;
}

.blok3 .image3 {
    width: 40%;
    max-width: 500px;
    height: 700px;
}
.blok3 .image3 img {
    max-width: 500px;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.blok3 .content3 {
    padding-left: 90px;
    margin-top: 200px;
    width: 100%;
    max-width: 600px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.content3 p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.content3-photos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;
    padding-left: 90px;
    gap: 50px;
}
.photos-container img {
    width: calc(50% - 25px);
}
