.header {
    width: 100vw;
    height: 84px;
    background-color: #007765;
    color: #ffffff;
}
.header-content {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    height: 84px;
    position: relative;
}
.logo {
    width: 184px;
    height: 45px;
    margin-top: 19px;
}
.menu-button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
.menu-button-container {
    position: absolute;
    right: 16px;
    top: 24px;
}
.image {
    width: 100vw;
    height: 403px;
    background-image: url("./assets/image.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.image-content {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    height: 403px;
    overflow: hidden;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 403px;
    text-align: center;
    color: #ffffff;
}
.section {
    width: 100vw;
    min-height: 719px;
    margin: 0 auto;
    background: #eeeeee;
    display: inline-block;
}
.section-content {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}
.text {
    padding: 0 55px;
    max-width: 1219px;
    margin: auto;
    min-height: 488px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
    /*position: relative;*/
    color: #000000;
}
.section2 {
    width: 100vw;
    height: 483px;
    margin: 0 auto;
    background: url("./assets/image1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.section2-content {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    height: 100%;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 {
    display: block;
    margin: auto;
}
.section3 {
    width: 100vw;
    min-height: 604px;
    margin: 0 auto;
    display: inline-block;
}
.section3-content1 {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    height: 75px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}
.section3-content2 {
    padding: 0 55px;
    max-width: 1219px;
    margin: 0 auto;
    height: 110px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37.5px;
    text-align: left;
    color: black;
}
.ppslogo {
    margin-right: 48px;
    float: left;
}
